/* You can add global styles to this file, and also import other style files */

html {
  height: 100vh;
}

body {
  height: 100vh;
}

#root {
  height: 100vh;
}

.hoverAndMakeItBig:hover {
  transform: scale(1.1);
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
}

.widthBasedFontSize {
  font-size: 43vw;
  text-align: center;
}

.rotate180 {
  transform: rotate(180deg);
}
.rotate180:hover {
  transform: rotate(180deg) scale(1.1);
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.3));
}
